# System Files
.DS_Store
.vscode/
**/.DS_Store

# Environment Variables
.env

# PocketBase Data
pocketbase/pb_data/

# Dependencies
node_modules

# Build Artifacts
target/
dist/
build/
**/*.log
*.log

# Tauri
src-tauri/target/
src-tauri/gen/

